@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-underline-animation {
   display: inline-block;
   position: relative;
  display: flex;
 }
 
 .hover-underline-animation::after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 3px;
   bottom: 0;
   left: 0;
   background-color: rgb(56 189 248 );
   /* transform-origin: bottom right; */
   transition: transform 0.30s ease-out;
 }
 
 .hover-underline-animation:hover::after {
   transform: scaleX(1);
   transform-origin: bottom left;
 }

 .wi{
   width: 100%;
 }
 .list{
  height: 100%;
  width: 100%
 }